@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('./fonts/pretendard/Pretendard-Regular.woff') format('woff');
}

* {
  font-family: 'Pretendard';
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131313
}

